html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	position: relative;
	line-height: 1.15;
}
iframe, embed, object, video, img {
	max-width: 100%;
}
img {
	height: auto;
}
a, button {
	cursor: pointer;
}
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}