body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $cor-textos;
	background: $cor-body;
}
p {
	font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #202020;
}