.card {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    &__thumb {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        img {
            width: 100%;
            display: block;
        }
    }
    &__conteudo {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        padding: 15px;
        @media screen and (min-width: 768px) {
            min-height: 110px;
        }
    }
    a {
        text-decoration: none;
    }
    &__titulo {
        color: $cor-textos;
        font-size: 22px;
        font-weight: 700;
    }
    &__botao-leia-mais {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: $cor-primaria;
        padding: 0 15px 15px;
        position: relative;
        display: block;
    }
}