.container {
    @media (min-width: 1200px) {
        padding-right: 0;
        padding-left: 0;
    }
    &--looping {
        margin-top: 15px;
    }
}
.banners {
    width: 100%;
    position: relative;
    display: block;
    margin: 15px auto;
}