.wpcf7-text, .wpcf7-textarea {
    padding: 14px;
    border: solid 1px #cfcfcf;
    max-width: 100%;
}
.wpcf7-submit {
    padding: 14px;
    background: $cor-primaria;
    color: #fff;
}
.wpcf7-form label {
    margin-bottom: 12px;
}